spring:
  application:
    name: virtual-assistant-backend
    flyway:
      enabled: true
      locations: classpath:db/migration
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: validate