spring:
  application:
    name: virtual-assistant-backend
  flyway:
    baseline-on-migrate: true
    enabled: true
    locations: classpath:db/migration
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: validate

logging:
  level:
    org:
      flywaydb: DEBUG