spring:
  application:
    name: virtual-assistant-backend
  datasource:
    url: jdbc:mysql://localhost:3306/virtual-assistant-backend
    username: root
    password: root
  jpa:
    show-sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: validate
server:
  port: 9001